@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

html {
    
    width:100%;
    height:100%;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: unquote('env(safe-area-inset)');
}

body {
    margin:0;
    -webkit-text-size-adjust: 100%;
    position:relative;
    box-sizing: border-box;
    min-height:100%;
}

h1, h2, h3, p{
    font-family: 'M Plus Rounded 1c', sans-serif;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
p{
    font-size: 2rem;
    font-weight: 100;
}
.l-container{
    margin: 0 auto;
    width: 100em;
    padding-bottom: 5em;
}
.l-container-feature{
    margin: 3em;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
button{
    border: none;
    border-radius: 1em;
    box-shadow: none;
    width: 10em;
    height: 5em;
    margin-left: 70em;
    background-color: rgb(46, 136, 75);
    
}
button:hover{
    opacity: 0.6;
}
p.button{
    color: white;
    margin: 0 auto;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    padding-top: 1em;
    text-align: center;
}
audio{
    width: 100%;
    border-radius: 2em;
}